body {
  /*background-color:#1A2238 !important;*/
  font-family: "Vazir" , "tahoma" ,"Ubuntu" !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
input [type ="text"] ::-webkit-input-placeholder,
input [type ="email"] ::-webkit-input-placeholder,
input [type ="number"] ::-webkit-input-placeholder {
 color: #F4DB7D !important;
}
input [type ="text"] ,
input [type ="email"] ,
input [type ="number"] {
  background-color: #9DAAF2 !important;
  border-color: #F4DB7D !important;
  color: #F4DB7D !important;
}
.form-control {
  background-color: #9DAAF2 !important;
  color: #F4DB7D !important;
  border-color: #F4DB7D !important;
}


