body {
  /*background-color:#1A2238 !important;*/
  /*با این رنگ ها استفاده بشه*/
  /*#9DAAF2 رز مانند*/
  /*FF6A3D نارنجی*/
  /*F4DB7D زرد*/
  margin: 0;
  font-family: "Vazir" , "tahoma" ,"Ubuntu" !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
